.PostWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.Post {

}

.PostContent {
  white-space: pre-line;
}

.Button {
  border-radius: 3px;
  margin: 0;
  background: $carrot;
  min-width: 142px;
  margin-bottom: 15px;
}
